body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url('tunnel.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.time-display {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.half-column {
    width: 48%;
    min-width: 300px;
}

.total-time {
    margin-bottom: 20px;
}

.timer {
    margin: 10px 0;
    font-size: 1.8em;
    color: #f00;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000;
    white-space: nowrap;
    text-align: center;
}

.time-for-half {
    font-size: 2em; /* Slightly larger font size */
    color: #fff; /* White color for half times */
}

.extra-time {
    color: #FFD700; /* Yellow color for extra time text */
}

.start-stop-time {
    color: #d3d3d3; /* Light grey for start and stop times */
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

#startBtn {
    background-color: #1B5E20;
}

#startBtn:hover {
    background-color: #004d00;
}

#pauseBtn {
    background-color: #FF6F00;
}

#pauseBtn:hover {
    background-color: #E65100;
}

#stopBtn {
    background-color: #B71C1C;
}

#stopBtn:hover {
    background-color: #7f0000;
}

#resetBtn {
    background-color: #555;
}

#resetBtn:hover {
    background-color: #333;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .logo {
        max-width: 120px;
    }

    .time-display {
        flex-direction: column;
    }

    .half-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .timer {
        font-size: 1.5em;
    }

    .time-for-half {
        font-size: 1.7em;
    }

    .controls button {
        padding: 8px 15px;
        font-size: 1em;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 50%;
    }

    .timer {
        font-size: 2.2em;
    }

    .time-for-half {
        font-size: 2.4em;
    }

    .controls button {
        padding: 12px 25px;
        font-size: 1.4em;
    }
}

@media (max-width: 600px) {
    .half-column {
        width: 100%;
        text-align: center;
    }
}

